language: php

php:
    - 7.2
    - 7.3
    - 7.4

before_script:
    - rm -rf composer.lock
    - composer install
    - ls -la

script:
    - php vendor/bin/simple-phpunit --debug

notifications:
    email: false
