{% extends 'base.html.twig' %}

{% block body %}
  <div class="row">
    <div class="col text-truncate">
      <ol>
        {% for class, type in types %}
          <li>
            <a href="{{ path('siganushka_generic_form', {class}) }}" title="{{ constant('class', type) }}">{{ constant('class', type) }}</a>
          </li>
        {% else %}
          <li>No forms.</li>
        {% endfor %}
      </ol>
    </div>
    {% if form %}
      <div class="col-12 col-md-7">
        <div class="border rounded bg-light p-3 flex-grow-1">
          {{ form(form) }}
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
