name: CI Test

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    test:
        name: Tests with PHP ${{ matrix.php-versions }}
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-versions: [ '7.4', '8.0', '8.1', '8.2' ]
        steps:
            - { name: Checkout code,        uses: actions/checkout@v2 }
            - { name: Install PHP,          uses: shivammathur/setup-php@v2, with: { php-version: "${{ matrix.php-versions }}" } }
            - { name: OS Version,           run: uname -a }
            - { name: PHP Version,          run: php --version }
            - { name: Validate composer,    run: composer validate --strict }
            - { name: Install dependencies, run: composer install }
            - { name: Run tests,            run: php vendor/bin/simple-phpunit --debug }
            - { name: Install Psalm,        run: composer require --dev vimeo/psalm }
            - { name: Psalm Version,        run: php vendor/bin/psalm --version }
            - { name: Run Psalm,            run: php vendor/bin/psalm --show-info=true --php-version=${{ matrix.php-versions }} }
