name: CI

on:
    push:
        branches: [ dev ]
    pull_request:
        branches: [ dev ]

jobs:
    test:
        name: Tests with PHP ${{ matrix.php-versions }}
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: [ 7.2, 7.3, 7.4, 8.0, 8.1 ]
        steps:
            - { name: Checkout code,        uses: actions/checkout@v2 }
            - { name: Install PHP,          uses: shivammathur/setup-php@v2, with: { php-version: "${{ matrix.php-versions }}" } }
            - { name: PHP Version,          run: php --version }
            - { name: Validate composer,    run: composer validate --strict }
            - { name: Composer clearcache,  run: composer clearcache }
            - { name: Install dependencies, run: composer update }
            - { name: Run tests,            run: php vendor/bin/simple-phpunit --debug }

    test-prefer-lowest:
        name: Tests with PHP ${{ matrix.php-versions }} (--prefer-lowest)
        runs-on: ubuntu-latest
        strategy:
            matrix:
                php-versions: [ 7.2, 7.3, 7.4, 8.0, 8.1 ]
        steps:
            - { name: Checkout code,        uses: actions/checkout@v2 }
            - { name: Install PHP,          uses: shivammathur/setup-php@v2, with: { php-version: "${{ matrix.php-versions }}" } }
            - { name: PHP Version,          run: php --version }
            - { name: Validate composer,    run: composer validate --strict }
            - { name: Composer clearcache,  run: composer clearcache }
            - { name: Install dependencies, run: composer update --prefer-lowest }
            - { name: Run tests,            run: php vendor/bin/simple-phpunit --debug }
